<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.tutorialsandroid.filepicker">

    <application
        android:name="com.github.tutorialsandroid.filepicker.FilePickerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.github.tutorialsandroid.filepicker.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.tutorialsandroid.filepicker.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.github.tutorialsandroid.filepicker.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.tutorialsandroid.filepicker.MainActivity" />
        </activity>
    </application>

</manifest>